<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plastech.crm.mapper.SaManufacturerAnalysisMapper">
	<resultMap id="BaseResultMap" type="com.plastech.crm.model.SaManufacturerAnalysis">
		<id column="smid" property="smid" jdbcType="BIGINT" />
		<result column="mfid" property="mfid" jdbcType="BIGINT" />
		<result column="lid" property="lid" jdbcType="BIGINT" />
		<result column="gid" property="gid" jdbcType="BIGINT" />
		<result column="ctid" property="ctid" jdbcType="BIGINT" />
		<result column="g_name" property="gName" jdbcType="VARCHAR" />
		<result column="l_name" property="lName" jdbcType="VARCHAR" />
		<result column="mf_name" property="mfName" jdbcType="VARCHAR" />
		<result column="sales_total" property="salesTotal" jdbcType="DOUBLE" />
		<result column="year" property="year" jdbcType="CHAR" />
		<result column="month" property="month" jdbcType="CHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="last_update_time" property="lastUpdateTime"
			jdbcType="TIMESTAMP" />
		<result column="note" property="note" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getCustomerPurchaseInformation" parameterType="map"
		resultType="com.plastech.crm.model.vo.SaCustomerPurchaseDetailsView">
		SELECT
		sm.gid,
		sm.mfid,
		sm.lid,
		sm.g_name as gName,
		sm.l_name as lName,
		sm.sales_total as quantity
		FROM
		sa_manufacturer sm
		WHERE
		sm.month=13
		<if test="lid!=null">
			and sm.lid = #{lid}
		</if>
		<if test="gid!=null">
			and sm.gid=#{gid}
		</if>
		and sm.mfid=#{mfid} and sm.year=#{year}
		order by sm.sales_total desc
	</select>
	<select id="checkSaManufacturerInfo" resultMap="BaseResultMap">
		SELECT
		*
		FROM
		sa_manufacturer sm
		LIMIT 1
	</select>
	<select id="getManufacturerGroupsPurchaseAnalysis" resultMap="BaseResultMap">
		SELECT
		g.gid,
		any_value (l.lid) as lid,
		any_value (ge.ctid) as ctid,
		any_value (ge.mfid) as mfid,
		any_value (m.name) AS mf_name,
		anY_value
		(g.`name`) as g_name,
		any_value
		(YEAR(cg.cg_shipmt_date))as year,
		any_value (l.`name`) as l_name,
		any_value (SUM(cg.cg_sales_volume)) as
		sales_total,
		any_value
		(MONTH(cg.cg_shipmt_date)) as month
		FROM
		groups g
		INNER JOIN contract c ON c.gid = g.gid
		INNER JOIN contract_grade cg ON
		cg.coid = c.coid
		INNER JOIN grade ge ON ge.geid = cg.geid
		INNER JOIN
		manufacturer m on m.mfid=ge.mfid
		LEFT JOIN customer_loyalty cl ON
		cl.gid = g.gid and cl.mfid=ge.mfid and cl.years=(#{year}-1)
		LEFT JOIN
		loyalty l ON l.lid =
		cl.lid and l.status=0
		WHERE c.status=0
		and
		g.status=0 and cg.cg_status=0
		and m.status=0
		and
		YEAR (cg.cg_shipmt_date)
		= #{year}
		AND MONTH (cg.cg_shipmt_date)
		=#{month}
		<if test="gid!=null">
			and g.gid=#{gid}
		</if>
		<if test="mfid!=null">
			and ge.mfid=#{mfid}
		</if>
		GROUP BY
		g.gid,ge.mfid
	</select>
	<select id="getManufacturerGroupsPurchaseAnalysisYear"
		resultMap="BaseResultMap">
		SELECT
		g.gid,
		any_value (l.lid) as lid,
		any_value (ge.ctid) as
		ctid,
		any_value (ge.mfid) as mfid,
		any_value (m.name) AS mf_name,
		anY_value
		(g.`name`) as g_name,
		any_value (YEAR(cg.cg_shipmt_date))as
		year,
		any_value (l.`name`) as
		l_name,
		any_value (SUM(cg.cg_sales_volume))
		as
		sales_total,
		13 as month
		FROM
		groups g
		INNER JOIN contract c ON c.gid =
		g.gid
		INNER JOIN
		contract_grade cg ON cg.coid = c.coid
		INNER JOIN grade
		ge ON ge.geid =
		cg.geid
		INNER JOIN manufacturer m on m.mfid=ge.mfid
		LEFT
		JOIN customer_loyalty cl ON cl.gid = g.gid and cl.mfid=ge.mfid and
		cl.years=(#{year}-1)
		LEFT JOIN loyalty l ON l.lid = cl.lid and
		l.status=0
		WHERE c.status=0
		and g.status=0 and cg.cg_status=0 and
		m.status=0 and
		YEAR
		(cg.cg_shipmt_date) = #{year}
		<if test="gid!=null">
			and g.gid=#{gid}
		</if>
		<if test="mfid!=null">
			and ge.mfid=#{mfid}
		</if>
		GROUP BY
		g.gid,ge.mfid
	</select>
	<select id="getManufuacturerGroupsInfo" resultMap="BaseResultMap">
		SELECT
		*
		FROM
		sa_manufacturer s
		WHERE
		s.mfid = #{mfid} and s.gid=#{gid} and
		s.year=#{year} 
		<if test="lid!=null">
		  and s.lid=#{lid} 
		</if>
		and s.month=#{month}
		LIMIT 1
	</select>

	<delete id="deleteSaManufacturerByYearAndMonth">
		delete from sa_manufacturer where year=#{year} and
		month=#{month} and gid=#{gid} and mfid=#{mfid}
	</delete>
	<delete id="deleteSaManufacturerBySmid">
		delete
		FROM
		sa_manufacturer
		WHERE
		year = #{year}
		AND month = #{month}
		and
		smid not IN
		<foreach collection="list" item="id" open="(" close=")"
			separator=",">
			#{id}
		</foreach>

	</delete>

	<select id="getExportManufacturerGroupsInfoList" resultType="com.plastech.crm.model.parameter.ExportDataInfoView">
		SELECT
		sm.gid,
		sm.lid,
		sm.mfid,
		sm.`month` AS month,
		any_value (sm.year)as
		year,
		any_value (sm.g_name)as ctName,
		any_value (sm.l_name)as mfName,
		any_value (sm.sales_total) as
		volume
		FROM
		sa_manufacturer sm
		WHERE
		sm.mfid
		= #{mfid}
		AND sm.`year` = #{year}
		AND sm.month != 13
		AND sm.lid in
		<foreach collection="list" item="lid" open="(" close=")"
			separator=",">
			#{lid}
		</foreach>
		GROUP BY
		sm.gid,
		sm.lid,
		sm.mfid,
		sm.`month`
		ORDER BY
		sm.gid, month asc
	</select>
</mapper>